<ul class="nav justify-content-center bg-dark">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-light " href="/admin/eduardo">admin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-light ml-2" href="/admin/sobre">Sobre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-light  ml-2 " href="/admin/criar-lista">Criar Lista</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-light  ml-2 " href="/admin/criar-postagens">Criar Postagens</a>
  </li>
</ul>
<div class="container">
	<h1>Area de ediçao Postagem</h1>
	<button onclick="history.back()">
        <img src="/imagens/voltar.png" alt="voltar" style="width: 25px ">
    </button>
</div>


{{#each postegens}}
	<div class="card mt-3">
  		<div class="card-body">
			<h3>titulo:  {{titulo}}</h3>
			<h5>descricao:  {{descricao}}</h5>
			<p>conteudo:  {{conteudo}}</p>
			<h5>lista.nome:  {{lista.nome}}</h5>
			<small>data:  {{date}}</small>
			<a href="/admin/editar-postagens/{{_id}}" class="btn btn-danger mt-3">editar</a>
			<form action="/admin/deletar-postagem" method="post" >
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-3">DELETAR</button>
                <a href="/admin/criar-postagens" class="btn btn-dark mt-3">Criar Postagem</a>
                <a  href="#" class="btn btn-dark mt-3">Ver Postagem</a>   
            </form>
		</div>
	</div>
{{/each}}

